
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.quote_image{
    background-image: url('../assets/paralax.jpg');
       
        background-attachment: fixed;
        min-height: 500px;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

}


.quote_text{
    font-family: Roboto;
    font-weight: 100;
    font-size: 3rem;
    margin: 0 0 0 0;
    color: #fff;
    line-height: 3.5rem;
}

.quote_text__under{
    font-family: Roboto;
    font-weight: 400;
    font-size: 3rem;
    margin: 0 0 0 0;
    color: #fff;
    line-height: 3.5rem;
}

.textos{
    margin: 150px 0 0 0;
}

.video{
    margin: 150px 0;
   
}
